/* ==UserStyle==
@name          [HFR] Images Smileys
@version       1.2.1
@namespace     roger21.free.fr
@description   Permet un affichage identique des images et des smileys (sans marge).
@revision      $Rev: 1595 $
==/UserStyle== */

/*
historique :
1.2.1 (13/02/2020) :
- mise en forme des metadata pour la compatibilité avec Stylus
1.2.0 (20/09/2019) :
- ajout du support pour le script [HFR] Taille des images
1.1.1 (23/08/2019) :
- suppression du @namesapce pour la compatibilité avec Stylus
1.1.0 (27/04/2014) :
- ajout du support de l'aperçu dans la réponse normale
1.0.0 (26/04/2014) :
- creation
*/

@-moz-document domain("forum.hardware.fr") {

  div[id^="para"] img:not(.ws_toyo_smilies):not(.ws_toyo_help_icon),
  div#apercu_reponse img, body#mesdiscussions img{
    border:0 !important;
    margin:0 !important;
    padding:0 !important;
    vertical-align:bottom !important;
  }
  span.gm_hfr_tdi_r21_img_span{
    vertical-align:bottom !important;
  }

}