/* ==UserStyle==
@name          [HFR] Unhighlight Text Fragments
@version       1.0.0
@namespace     roger21.free.fr
@description   Permet de désactiver le surlignage des cibles des liens en « fragments de texte » dans les posts.
==/UserStyle== */

/*

Copyright © 2026 roger21@free.fr

This program is free software: you can redistribute it and/or modify it under the
terms of the GNU Affero General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along
with this program. If not, see <https://www.gnu.org/licenses/agpl.txt>.

*/

/*

$Rev: 5019 $

historique :
1.0.0 (07/09/2026) :
- création

*/

@-moz-document domain("forum.hardware.fr") {

  div[id^="para"] ::target-text{
    background-color: transparent !important;
    color: inherit !important;
    text-decoration: inherit !important;
  }

}